* {
	margin: 0;
	box-sizing: border-box;
}

.navbar {
	display: flex;
	position: sticky;
	top: 0;
}

header {
	background-color: rgb(18, 45, 92);

}

.title {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 25px;

}

#grid {
	height: 100%;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: end;
	align-items: flex-start;
}

nav a:hover,
nav a:focus {
	color: #fd5f00;
}

@media (min-width: 200px) and (max-width: 480px) {
	header {
		margin-top: 0;
		margin-bottom: 0%;
		text-align: left;
		width: 100%;
	}

	nav {
		font-size: 1.3em;
		margin-right: 2.9em;
		margin-left: 2.9em;
		padding: 0;
		text-align: left;
		text-decoration: none;
		position: -webkit-sticky;
		position: sticky;
		top: 0;
	}

	nav ul {
		margin: 0;
		padding: .10em;
	}

	nav li {
		background-color: rgb(18, 45, 92);
		border-radius: 1em;
		padding: .60em;
		list-style: none;
	}


	nav a {
		display: inline-block;
		padding: .5em;
		text-decoration: none;
		color: whitesmoke;
	}

	.grid-container {
		display: grid;
		grid-template-rows: auto auto auto;
		padding: 3px;
		row-gap: 5px;
	}

	.grid-container>div {
		text-align: center;
		font-size: 10px;
	}

	.grid-item {
		padding: 5px;
	}

	.card {
		background-color: rgb(175, 175, 255);
		text-align: left;
		font-size: 10px;
		border: 5px;
		border-style: solid;
		border-image:
			linear-gradient(to bottom,
				#ce4f54 16.666%,
				#ee6641 16.666%,
				#e66744 33.333%,
				#f1944c 33.333%,
				#ec914b 50%,
				#bed868 50%,
				#96aa53 66.666%,
				#4c6baf 66.666%,
				#54658b 83.333%,
				#ff67eb 83.333%,
				rgba(0, 0, 0, 0)) 50 100%;
	}

	.character {
		background-color: #fdb1d7;
	}

	#button1 {
		background-color: blue;
		border: 1px solid blue;
		border-radius: 6px;
		font-size: 10px;
	}

	#input {
		background-color: azure;
		border: 3px solid black;
		border-radius: 6px;
		font-size: 20px;
	}

	.grid-container2 {
		display: grid;
		column-gap: 15px;
		grid-template-columns: auto auto auto auto;
		justify-content: space-around;
		background-color: rgb(18, 45, 92);
	}

	.grid-container2 {
		color: white;
	}
}

@media (min-width: 481px) and (max-width: 999px) {

	header {
		margin-top: 0;
		margin-bottom: 0%;
		width: 100%;
	}

	.left {
		float: left;
		width: 75px;
		height: 45px;
	}

	nav .left1 {
		float: left;
		margin-top: 20px;
	}

	.center{
		text-align: center;
	}

	nav .left2{
		float: none;
		margin: 0 0 0 4em;
		padding: 0 0 0 0;
		font-weight: 400;
	}

	.right {
		float: right;
	}

	nav {
		background-color: rgb(18, 45, 92);
		font-size: 1em;
		margin: 0;
		position: -webkit-sticky;
		position: sticky;
		top: 0;
		padding: 0;
	}

	nav ul {
		margin: 0;
		padding: 0;

	}

	nav li {
		display: inline;
	}

	nav a {
		display: inline-block;
		padding: .8em;
		text-decoration: none;
		color: whitesmoke;

	}

	.grid-container {
		display: grid;
		grid-template-columns: auto auto auto;
		padding: 6px;
		column-gap: 5px;
		row-gap: 5px;
	}

	.grid-container>div {
		text-align: center;
		font-size: 15px;
	}

	.grid-item {
		padding: 10px;
	}

	.card {
		background-color: rgb(175, 175, 255);
		text-align: left;
		font-size: 18px;
		border: 5px;
		border-style: solid;
		border-image:
			linear-gradient(to bottom,
				#ce4f54 16.666%,
				#ee6641 16.666%,
				#e66744 33.333%,
				#f1944c 33.333%,
				#ec914b 50%,
				#bed868 50%,
				#96aa53 66.666%,
				#4c6baf 66.666%,
				#54658b 83.333%,
				#ff67eb 83.333%,
				rgba(0, 0, 0, 0)) 50 100%;
	}

	.character {
		background-color: #fdb1d7;
	}

	#button1 {
		background-color: blue;
		border: 1.2px solid blue;
		border-radius: 6px;
		font-size: 15px;
	}

	#input {
		background-color: azure;
		border: 3px solid black;
		border-radius: 6px;
		font-size: 20px;
	}

	.grid-container2 {
		display: grid;
		column-gap: 15px;
		grid-template-columns: auto auto auto auto;
		justify-content: space-around;
		background-color: rgb(18, 45, 92);
	}

	.grid-container2 {
		color: white;
	}
}

@media (min-width: 1000px) {
	header {
		width: 100%;
		text-align: left;
		margin-bottom: 0%;
	}

	header {
		display: inline;
		margin-top: 0;
	}

	header,
	nav {
		width: 100%;
		display: inline-block;
	}

	nav {
		font-size: 1.5em;
		position: -webkit-sticky;
		position: sticky;
		top: 0;
	}

	.left {
		float: left;
		width: 75px;
		height: 45px;
	}

	nav .left1 {
		float: left;
		margin-top: 20px;
	}

	.center{
		float: none;
	}

	nav .left2{
		float: none;
		margin: 0 0 0 8em;
		padding: 0 0 0 0;
		font-weight: 800;
	}

	.right {
		float: right;
	}

	nav ul {
		margin: 0;
		display: inline;
		padding-right: .15em;
	}

	nav ul li {
		display: inline-block;
		list-style: none;
	}


	nav a {
		display: inline-block;
		padding: 1em;
		text-decoration: none;
		color: whitesmoke;
	}

	.grid-container {
		display: grid;
		grid-template-columns: auto auto auto;
		padding: 10px;
	}

	.grid-container>div {
		text-align: center;
		font-size: 20px;
	}

	.grid-item {
		padding: 13px;
	}

	.card {
		background-color: rgb(175, 175, 255);
		text-align: left;
		font-size: 25px;
		border: 5px;
		border-style: solid;
		border-image:
			linear-gradient(to bottom,
				#ce4f54 16.666%,
				#ee6641 16.666%,
				#e66744 33.333%,
				#f1944c 33.333%,
				#ec914b 50%,
				#bed868 50%,
				#96aa53 66.666%,
				#4c6baf 66.666%,
				#54658b 83.333%,
				#ff67eb 83.333%,
				rgba(0, 0, 0, 0)) 50 100%;
	}

	.character {
		background-color: #fdb1d7;
	}

	#button1 {
		background-color: blue;
		border: 1.5px solid blue;
		border-radius: 6px;
		font-size: 20px;
	}

	#input {
		background-color: azure;
		border: 3px solid black;
		border-radius: 6px;
		font-size: 20px;
	}

	.grid-container2 {
		display: grid;
		column-gap: 20px;
		grid-template-columns: auto auto auto auto;
		justify-content: space-around;
		background-color: rgb(18, 45, 92);
	}

	.grid-container2 {
		color: white;
	}
}